@model AvaliaSim.Repository.Avaliacao
@{
    ViewBag.Title = "Redirect";
}

<h2>Redirect</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    if (Model.tipo == "Serviço")
    {
        @RedirectResult
    }

}

